@{
    ViewData["Title"] = "Workers - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Add Layout, error checking in case a user finds this page blank - Dwilson 8/18*@
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <h5>@Job.Title</h5>
            <div class="completion">
                @if(!Job.Active)//if the job isn't active
                {
                    <h4 class="makeActive">Click to Set Active</h4>
                    <div id="activeFormShow"></div>
                }
                @if(!Job.Completed && Job.Active)//if the job is active but not completed
                {
                    <h4 class="setCompleted">Click to complete the job</h4>
                    <div id="completionFormShow"></div>
                }
            </div>

        }
        <div class="listJobs"><p>Click to View All Jobs</p>
        </div>
        <div id="result"></div>
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}
else
{
    <p>You must @Html.ActionLink("log in", "Login", "Account") to view this page!</p>
}