@{
    ViewData["Title"] = "Workers - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Add Layout, error checking in case a user finds this page blank - Dwilson 8/18*@
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <h5>@Job.Title</h5>
            <div class="completion">
                @if (!Job.Active)//if the job isn't active
                {
                    <h4 class=@Job.JobId@Job.Active>Click to Set Active</h4>
                    <div id="activeShowResult"></div>
                }
                @if (!Job.Completed && Job.Active)//if the job is active but not completed
                {
                    <h4 class='@Job.JobId-completion'>Click to complete the job</h4>
                    <div id="completionShowResult"></div>
                }
                @if (Job.Completed)
                {
                    <h4>Completed!</h4>
                }
            </div>
            <script>
                $('.@Job.JobId@Job.Active').click(function () {
                    console.log(@Job.JobId);
                    $.ajax({
                        type: 'GET',
                        dataType: 'html',
                        data: {id : @Job.JobId},
                        url: '@Url.Action("ActiveForm")',
                        success: function (result) {
                            var form = $(result).find('.@Job.JobId-submit').html();
                            $('#activeShowResult').html(form);
                        }
                    });
                });
                $('.@Job.JobId-submit').submit(function (event) {
                        event.preventDefault();
                        console.log(@Job.JobId + "submitting activation");
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Activate")',
                            data: {id : @Job.JobId},
                            dataType: 'html',
                            success: function (result) {
                                var resultMessage = "This job "+ result.Name + " is now active";
                                $('#activateResult').html(resultMessage);
                            },
                            error: function (result) {
                                var resultMessage = "Its broke, but it shows";
                                $('#activateResult').html(resultMessage);
                            }
                        });
                });
                $('.@Job.JobId-completion').click(function () {
                    console.log(@Job.JobId);
                    $.ajax({
                        type: 'GET',
                        dataType: 'html',
                        data: {id : @Job.JobId},
                        url: '@Url.Action("CompleteForm")',
                        success: function (result) {
                            var form = $(result).find('.@Job.JobId-completion-submit').html();
                            $('#completionShowResult').html(form);
                        }
                    });
                });
                    $('.@Job.JobId-completion-submit').submit(function (event) {
                        event.preventDefault();
                        console.log(test);
                        console.log("completion form id: " + @Job.JobId);
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("SetComplete")',
                            data: {id : @Job.JobId},
                            dataType: 'json',
                            success: function (result) {
                                var resultMessage = "This job "+ result.Name + " is now complete";
                                $('#completionShowResult').html(result);
                            },
                            error: function (result) {
                                var resultMessage = "Its broke, but it shows";
                                $('#completionShowResult').html(resultMessage);
                            }
                        });
                    });
            </script>
        }
        <div class="listJobs"><p>Click to View All Jobs</p>
        </div>
        <div id="result"></div>
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}
else
{
    <p>You must @Html.ActionLink("log in", "Login", "Account") to view this page!</p>
}